.reviews{
    margin-top:80px;
}

.reviews h2{
    color:#5B2C1A;
    margin-bottom:30px;
}

.review-card{
    background:#fff;
    padding:25px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.review-stars{
    color:#FFD700;
    margin-bottom:12px;
}

.review-card h4{
    margin-bottom:10px;
    color:#5B2C1A;
}

.review-card p{
    color:#666;
    line-height:1.7;
}