.empty-cart{
    padding:80px 20px;
    text-align:center;
}

.empty-icon{
    font-size:5rem;
    color:#D4A373;
    margin-bottom:20px;
}

.empty-cart h2{
    color:#5B2C1A;
    margin-bottom:10px;
}

.empty-cart p{
    color:#666;
    margin-bottom:30px;
}

.shop-btn{
    display:inline-block;
    background:#5B2C1A;
    color:white;
    padding:14px 30px;
    border-radius:8px;
    text-decoration:none;
    transition:.3s;
}

.shop-btn:hover{
    background:#E63946;
}