.product-page{
    padding:100px 0 60px;
    background:#FFF8F3;
    min-height:100vh;
}

.breadcrumb{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:40px;
    font-size:.95rem;
}

.breadcrumb a{
    text-decoration:none;
    color:#5B2C1A;
    font-weight:600;
}

.breadcrumb span{
    color:#777;
}

.product-details{
    display:grid;
    grid-template-columns:1.1fr 1fr;
    gap:60px;
    align-items:start;
    margin-bottom:80px;
}

.product-right{
    display:flex;
    flex-direction:column;
    gap:35px;
}

@media(max-width:992px){

.product-details{
    grid-template-columns:1fr;
}

}