.modal-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.5);

display:flex;
justify-content:center;
align-items:center;

z-index:1000;
}

.confirm-modal{
background:white;
padding:30px;
border-radius:12px;
width:400px;
max-width:90%;
}

.modal-buttons{
display:flex;
justify-content:flex-end;
gap:15px;
margin-top:25px;
}

.cancel-btn,
.confirm-btn{
padding:10px 20px;
border:none;
cursor:pointer;
border-radius:8px;
}

.cancel-btn{
background:#ddd;
}

.confirm-btn{
background:#E63946;
color:white;
}