.cart-item{
    display:grid;
    grid-template-columns:2fr 120px 150px 120px 60px;
    gap:20px;
    align-items:center;

    background:#fff;
    padding:20px;

    border-radius:15px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.cart-product{
    display:flex;
    align-items:center;
    gap:20px;
}

.cart-product img{
    width:110px;
    height:110px;
    object-fit:cover;
    border-radius:12px;
}

.cart-product h3{
    color:#5B2C1A;
    margin-bottom:6px;
}

.cart-product p{
    color:#888;
    margin-bottom:8px;
}

.cart-product small{
    color:#666;
}

.cart-price,
.cart-total{
    font-weight:bold;
    color:#E63946;
}

.cart-quantity{
    display:flex;
    align-items:center;
    gap:12px;
}

.cart-quantity button{
    width:36px;
    height:36px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    background:#5B2C1A;

    color:#fff;
}

.remove-btn{
    border:none;

    background:none;

    color:#E63946;

    cursor:pointer;

    font-size:1.1rem;
}

@media(max-width:900px){

.cart-item{
    grid-template-columns:1fr;
    text-align:center;
}

.cart-product{
    flex-direction:column;
}

.cart-quantity{
    justify-content:center;
}

}